@model PV.POC.WEB.Models.IndexModel

@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("SubmitText", "Home"))
{ 


<div class="row">
    
        <div class="logo-rac">
            <img src="~/Content/raci/RAC-site-logo.png" >
        </div>
        <br/>
    </div>

    <div class="row statement-container" style="background-image: url('../../content/raci/busselton jpg.jpg'); min-height: 350px;">

        <div class="col-md-12">
            @Html.TextAreaFor(model => model.InputText, new { @class = "required textinput", rows = "10", cols = "100" })
        </div>
        <div class="col-md-12">
            <button type="submit" class="button">
                <i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i>
                <span class="item-text">Make a claim</span>
            </button>
        </div>


        </div>

}

@if (!Model.Hide)
{

    <hr />
    <div class="row results-container">
        <div class="row result-header">
            <h2> Claim: 1348934 </h2>
        </div>
    <br/>
        <div class="question-container row">
            <div class="question col-sm-3">
                Event date
            </div>
            <div class="answer col-sm-3">
                @Html.TextBoxFor(o => o.Claim.DateOfDamage, new {@class = "form-control"})
            </div>
        </div>

        <div class="question-container row">
            <div class="question col-sm-3">
                Event location
            </div>
            <div class="answer col-sm-3">
                @Html.TextBoxFor(o => o.Claim.DamageLocation, new {@class = "form-control"})
            </div>
        </div>

        <div class="question-container row">
            <div class="question col-sm-3">
                Item in question
            </div>
            <div class="answer col-sm-3">
                @Html.TextBoxFor(o => o.Claim.DamagedItem, new {@class = "form-control"})
            </div>
        </div>

        <div class="question-container row">
            <div class="question col-sm-3">
                Type of damage
            </div>
            <div class="answer col-sm-3">
                @Html.TextBoxFor(o => o.Claim.TypeOfDamage, new {@class = "form-control"})
            </div>
        </div>
    </div>
}


<style>

    .statement-container {
        text-align: center;
        vertical-align: middle;
        padding-top: 35px;
        
    }

    .button {
        font-size: 12px;
        font-weight: 800;
        line-height: 1.5;
        margin-bottom: 1px;
        text-align: left;
        color: #33424d;
        border-color: transparent;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background-color: #ffd100;
        -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.3);
        box-shadow: 0 2px 5px rgba(0,0,0,.3);
    }
    textarea {
        max-width: none;
        margin-bottom: 25px;
    }

    .results-container div {
        line-height: 30px;
        padding: 3px;
    }

    .question {

        font-weight: bold;
        

    }

    .question-container {
        border-bottom: 1px solid lightgray;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .question:after {
        content: ":";
    }

    .logo-rac {
        text-align: center;
    }

    .result-header {
        border-bottom: 1px solid lightgray;
    }

</style>

